---
layout: default
services:
    -
        icon: fa-solid fa-house
        title: Property Management
        description: >-
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci
            temporibus nostrum suscipit sed quas voluptas ea, a odit voluptates
            odio illo officia ad saepe animi minima praesentium vero quibusdam
            at?
        link: /propertymanagement.html
        buttontext: Learn More
    -
        icon: fa-solid fa-door-open
        title: Residential Real Estate
        description: >-
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci
            temporibus nostrum suscipit sed quas voluptas ea, a odit voluptates
            odio illo officia ad saepe animi minima praesentium vero quibusdam
            at?
        link: /realestate.html
        buttontext: Lets Talk
    -
        icon: fa-solid fa-mountain-city
        title: Available Properties
        description: >-
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci
            temporibus nostrum suscipit sed quas voluptas ea, a odit voluptates
            odio illo officia ad saepe animi minima praesentium vero quibusdam
            at?
        link: /properties.html
        buttontext: See Availability
---
<!----Welcome Section -->
        <section class="grid padded bg-grey">
            <div class="col-6 bg-image bg-welcome hide-xs tall-50 padded bg-pos-t md-tall-20" title="Kevin Massey"></div>
            <div class="col-6_xs-12 padded top">
                <h1 class="editable dark-text">Welcome</h1>
                <p class="editable">Let Cornerstone Real Estate and Property Management be your foundation in the real estate world! </p>
                <p class="editable">Whether you are first time home buyers, have extensive experience with buying and selling, are seeking to start your investment portfolio, or just want to know what your property might rent for, we would love to help you every step of the way.</p>
            </div>
        </section>

<!---Services-->
        <section class="grid">
            <div class="col-12 padded-top padded-left dark-text">
                <h1 class="editable">Our Services</h1>
            </div>

                {% for item in page.services %}

            <div class="col-4_xs-12 centered padded">
                <i class="{{item.icon}} padded-bot-au"></i>
                <h4 class="padded"> {{item.title}} </h4>
                <p class="padded-bot-au"> {{item.description}} </p>
                <div class="button">
                    <a href="{{item.link}}">{{item.buttontext}}</a>
                </div>
            </div>
                {% endfor %}
                    
        </section>

           

    
<!---- Testimonial -->
        <section class="grid padded-2 bg-red">
            <div class="col-1 right">
                <span class="quote">“</span>
            </div>
            <div class="col-10 centered padded-top editable">
                <h4 class="editable">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur accusamus blanditiis mollitia porro aut aperiam officiis minus!</h4>
                <p class="subtitle light-text editable">- Customer</p>
            </div>
            <div class="col-1 left">
                <span class="quote">”</span>
            </div>
         </section>



  <!------------------------ Featured blog loop ------------------------>
  <div class="capped-width grid-center">

  <div class="col-12 padded-05 center margin-b-1">
      <h2> Featured Blog Posts </h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, quaerat necessitatibus? Praesentium fugit ex neque magni, possimus, iste itaque voluptatem id doloremque voluptas consequatur dolor cumque! Dolores possimus laboriosam adipisci.</p>
  </div>

      {% assign featured_posts = site.posts | where: 'featured', true %}

      {% for post in featured_posts limit:3 %}

          <div class="col-4 post-item padded-05">
              <div class="bg-image portrait" style="background-image:url( '{{ post.featured_image }}' );"></div>
              <div class="padded-t-1">
                  
                  {% for item in post.categories %}
                      <span class="tag"> {{item}} </span>
                  {% endfor %}

                  <h2 class="margin-t-1"> {{ post.title }} </h2>
                  <p> {{ post.description }} </p>
                  <a href="{{ post.url }}" class="subtle-button"> Read More </a>

              </div>
          </div>

      {% endfor %}

  </div>

</section>

<!---Contact form -->
<section class="grid-middle padded centered bg-grey">
    <div class="col-12 centered">
      <h2>Contact Us!</h2>
      <div class=" forms">
        <form name="contact" method="POST" data-netlify="true">
          <p>
            <label for="name">Your Name:</label>
            <input type="text" id="name" name="name" required />
          </p>
          <p>
            <label for="email">Your Email:</label>
            <input type="email" id="email" name="email" required />
          </p>
          <p>
            <label for="telephone">Your Phone Number (optional):</label>
            <input type="tel" id="telephone" name="telephone" />
          </p>
          <p>
            <label for="message">Message:</label>
            <textarea id="message" name="message" required></textarea>
          </p>
          <p>
            <button type="submit" class="button">Send</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
  

          